@font-face {
  font-family: poppins;
  src: url("assets/Poppins-Medium.ttf");
}

body {
  font-family: poppins !important;
}

.content-wrapper {
  padding-top: 65px;
  display: flex;
  background-color: #444444;
}
